<!-- ko with: home -->
<div class="cta-imei">
    <div class="container text-center">
        <h2>А ти впевнений що твій телефон білий?</h2>
        <h4>Перевір IMEI свого телефону і спи спокійно!</h4>
        <div id="imei_validation">
            <div class="input-group input-group-lg">
                <input type="text" name="IMEI" class="form-control" id="imei-IMEI" placeholder="Введіть IMEI...">
                <span class="input-group-btn">
                    <button name="validate" id="imei-validation-validate" class="btn btn-default">Перевірити!</button>
                </span>
            </div>
            <div id="imei-responses">
                <div id="imei-error-response" style="display:none"></div>
                <div id="imei-success-response" style="display:none"></div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
