<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MicsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://213.156.91.27/micsservice.asmx" binding="basicHttpBinding"
                bindingConfiguration="MicsServiceSoap" contract="ImeiService.MicsServiceSoap"
                name="MicsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>